@import '../../styles/mixins/_flex.scss';

.row {
  @include layout-horizontal;
  @include layout-wrap;
  margin: 20px auto;
  max-width: 700px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.file-row {
  margin: 20px auto;
  max-width: 700px;
}

.image-flex {
  @include layout-flex;
  min-width: 220px;
}

.banner {
  width: 100%;
  height: 400px;
}

.title {
  padding: 20px 0px 10px;
  margin: 0 auto;
  max-width: 700px;
  border-bottom: 1px solid black;

  @media screen and (max-width: 750px) {
    margin: 0 20px;
  }
}

.meta {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 700px;
  font-size: 0.75em;
}

.body {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 700px;
  border-bottom: 1px solid black;
}

.footer-meta {
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 700px;
}

.feedback-container {
  padding: 20px 20px;
  margin: 0 auto;
  max-width: 700px;
}

.anchor {
  color: inherit;
  padding: 0 20px;
  // text-decoration: none;
}

img {
  width: 100%;
}

.body {
  thead {
    background: #CCC;
  }
  tr:nth-child(even) {
    background: #CCC;
  }
  th {
    padding: 10px;
  }
  td:first-child {
    padding: 10px 10px 10px 20px;
  }
  td {
    padding: 10px 20px;
  }
}

.meta-icon {
  text-decoration: none;
}