<dom-module id="nice-article">
  <template>
    <link rel="stylesheet" href="./nice-article.scss">

    <template is="dom-if" if="{{article.bannerImage}}">
      <div style="background: url({{article.bannerImage}}) center/cover no-repeat" class="banner"></div>
    </template>
    <h1 class="title">{{article.title}}</h1>

    <div class="meta">
      {{_renderDate(article.datePublished)}}
    </div>

    <marked-element markdown="{{article.body}}">
      <div slot="markdown-html" class="body"></div>
    </marked-element>

    <div class="file-row">
      <template is="dom-repeat" items="[[articleFiles]]">
        <nice-file class="image-flex" file-id="[[item.$key]]" type="[[type]]" article-id="[[articleId]]"></nice-file>
      </template>
    </div>

    <div class="row">
      <template is="dom-repeat" items="[[articleImages]]">
        <nice-image class="image-flex" image-id="[[item.$key]]" type="[[type]]" article-id="[[articleId]]"></nice-image>
      </template>
    </div>

    <template is="dom-if" if="{{articleId}}">
      <div class="footer-meta">
        <a href="/{{type}}" class="anchor">
          Go back
        </a>

        <template is="dom-if" if="[[_checkRole(user.uid, permission.role, 'staff')]]">
          <a href="/{{type}}/{{articleId}}/edit" class="anchor">
            Edit this Article
          </a>  
        </template>
        
      </div>
    </template>

  </template>
</dom-module>