@import '../../styles/components/_page.scss';
@import '../../styles/mixins/_flex.scss';
@import '../../styles/components/_typography.scss';

.banner {
  // display: block;
  position: relative;
  min-height: calc(100vh - 224px);
  // min-height: 250px;
  width: 100%;
  
  // text-align: left;
  // @media screen and (max-width: 840px) {
  //   text-align: center;
  // }
}

.banner-1-container {
  position: absolute;
  margin-top: 100px;
  bottom: 100px;
  left: 0px;
  width: 100%;
}

.banner-1-image {
  max-width: 300px;
  min-width: 175px;
  width: 30%;
}

.banner-1 {
  background: white;
  padding: 10px 0px;
}

.banner-1-text-container {
  background: #4488EF;
  color: white;
  padding: 10px 0px;
}

.banner-1-text {
  background: #4488EF;
  padding: 0px 20px;
  margin: 0px;
}

.banner-2-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-top: 100px;
  width: 100%;
  @include layout-horizontal;
}

.banner-2-bar {
  margin-left: 100px;
  width: 20px;
  background: #4488EF;
}

.banner-2-text {
  @include layout-flex;
  font-size: 25px;
  color: white;
  margin-bottom: 100px;
  padding-right: 50px;
  padding-left: 10px;
  
  p {
    margin: 0px;
  }
}

.banner-3-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 100px;
}

.banner-3-text {
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 10px 20px;
  color: white;
  background: #4488EF;
  
  h1 {
    margin: 10px 0 0 0;
  }
}

.carousel {
  width: 100%;
  contain: content;
  min-height: calc(100vh - 224px);
}

// .carousel::after {
//   display: block;
//   content: '';
  
//   // padding-top: 75%; /* 4:3 = height is 75% of width */
// }

.carousel .banner {
  position: absolute;
  width: 100%;
  // height: 100%;
}

// .logo {
//   padding-top: 20px;
//   width: 35%;
//   max-width: 600px;
//   padding-left: 50px;
//   @media screen and (max-width: 840px) {
//     width: 80%;
//     padding-left: 0px;
//   }
// }

.cta {
  background: #2B88F0;
  color: white;
  // margin-left: 250px;
  @media screen and (max-width: 840px) {
    margin-left: 0px;
  }
}

.anchor {
  text-decoration: none;
}

.text {
  color: white;
  font-size: 27px;
  font-style: italic;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 50px;
  @media screen and (max-width: 840px) {
    margin: 0 auto;
  }
}

.cta-2 {
  background: #2B88F0;
  color: white;
  // margin-left: 177px;
  @media screen and (max-width: 840px) {
    margin-left: 0px;
  }
}

.row {
  @apply --layout-horizontal;
  @apply --layout-wrap;
  
  @media screen and (max-width: 600px) {
    display: block;
  }
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  @apply --layout-flex;
  margin: 0 20px;
}

nice-small-column {
  padding-top: 20px;
}

.section {
  margin: 0 20px;
}

.banner-logo {
  text-align: center;
  
  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
    padding-top: 50px;
  }
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.logo {
  width: 40%;
  min-width: 250px;
  
  @media screen and (max-width: 600px) {
    width: 60%;
  }
}

.logo-text {
  @apply --layout-flex;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.banner-container {
  color: white;
  background-color: #4286f4;
  
}

.banner-row {
  @apply --layout-horizontal;
  @apply --layout-center;
  @apply --layout-wrap;
  
  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
  
  max-width: 1200px;
  margin: 0 auto;
  
  padding: 20px;
}

.banner-column {
  @apply --layout-flex;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.banner-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.banner-button {
  background-color: white;
  
  color: #666;
  margin-bottom: 20px;
  
  &.blue {
    background: #4488EF;
    margin: 0;
    color: #fff;
  }
}

.banner-button-anchor {
  color: inherit;
  text-decoration: none;
  
  
}

.dl {
  background: #4286f4;
  color: white;
  margin: 0;
  padding: 0 20px 20px;
}

.resource {
  background: #388e3c;
  color: white;
  margin: 0;
  padding: 0 20px 20px;
}

.landing-about {
  margin: -28px 0 0;
  max-width: inherit;
  
  .flex {
    padding: 0;
    margin: 0;
  }
}

.landing-about-container {
  padding: 20px !important;
  min-height: 300px;
}

.text-landing-about {
  color: #666;
}

.contact {
  background: #666;
  color: white;
  padding: 10px 0px;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  font-style: normal;
}

.banner-inner-container {
  min-height: calc(100vh - 224px);
  width: 100%;
  @include layout;
  @include layout-center;
}

.banner-left-container {
  margin: 20px auto 20px 40px;
  background: rgba(255, 255, 255, 0.8);
  max-width: 40%;
  text-align: center;
  padding: 20px;
  color: #000;
  
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}

.banner-right-container {
  margin: 20px 40px 20px auto;
  background: rgba(255, 255, 255, 0.8);
  max-width: 40%;
  text-align: center;
  padding: 20px;
  color: #000;
  
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}
  
.banner-image {
  width: 250px;
}

.banner-row-image {
  width: 80%;
  margin-bottom: 20px;
}