@import '../../styles/components/_page.scss';
@import '../../styles/components/_typography.scss';

.banner {
  display: block;
  height: 60vh;
  min-height: 250px;
  width: 100%;
  text-align: left;
  @media screen and (max-width: 840px) {
    text-align: center;
  }
}

.logo {
  padding-top: 20px;
  width: 80%;
  max-width: 400px;
  padding-left: 100px;
  @media screen and (max-width: 840px) {
    padding-left: 0px;
  }
}

.cta {
  background: #2B88F0;
  color: white;
  margin-left: 250px;
  @media screen and (max-width: 840px) {
    margin-left: 0px;
  }
}

.cta-2 {
  background: #2B88F0;
  color: white;
  margin-left: 177px;
  @media screen and (max-width: 840px) {
    margin-left: 0px;
  }
}

.row {
  @apply --layout-horizontal;
  @apply --layout-wrap;
  
  @media screen and (max-width: 600px) {
    display: block;
  }
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  @apply --layout-flex;
  margin: 0 20px;
}

nice-small-column {
  padding-top: 20px;
}

.section {
  margin: 0 20px;
}