<dom-module id="nice-story-row">
  <template>
    <link rel="stylesheet" href="./nice-story-row.scss">

    <h1 class="title">Stories of NICE</h1>
    <hr>
    <section class="row">
      <nice-small-column query="farmer" type="story" title="Farmers"></nice-small-column>
      <nice-small-column query="training" type="story" title="Training and Support Services"></nice-small-column>
      <nice-small-column query="technology" type="story" title="Sustainable Agricultural Technology"></nice-small-column>
    </section>
    <br/>
    <hr>
    <br/>
    <section class="row">
      <nice-small-column query="bayanihan" type="story" title="Bayanihan Economic Enterprise"></nice-small-column>
      <nice-small-column query="agroprocessing" type="story" title="Agro-Processing"></nice-small-column>
      <nice-small-column query="socialagripreneurs" type="story" title="Social Agri-Entrepreneurs"></nice-small-column>
    </section>
  </template>
</dom-module>