<dom-module id="nice-story-row">
  <template>
    <link rel="stylesheet" href="./nice-story-row.scss">

    <h1 class="title">Stories of NICE</h1>

    <section class="row">
      <nice-small-column query="farmer" type="story" title="Farmers"></nice-small-column>
      <nice-small-column query="training" type="story" title="Training and Support Services"></nice-small-column>
      <nice-small-column query="technology" type="story" title="Sustainable Agricultural Technology"></nice-small-column>
    </section>
  </template>
</dom-module>