<dom-module id="nice-dashboard-nav">
  <template>
    <link rel="stylesheet" href="./nice-dashboard-nav.scss">

    <h1 class="title">Navigation</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/dashboard" class="nav-anchor">
            Pending Stories
          </a>
        </li>

        <li class="nav-item">
          <a href="/dashboard-research" class="nav-anchor">
            Pending Research Abstracts
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/dashboard-cbe-recommends" class="nav-anchor">
            Pending CBE Recommends
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/dashboard-pas" class="nav-anchor">
            Pending Products and Services
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/dashboard-about" class="nav-anchor">
            Pending About Pages
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/dashboard-members" class="nav-anchor">
            Pending Members
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/dashboard-price-watch" class="nav-anchor">
            Price Watch upload Form
          </a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <a href="/dashboard-feedback" class="nav-anchor">-->
        <!--    Feedback List-->
        <!--  </a>-->
        <!--</li>-->
      </ul>
    </nav>
  </template>
</dom-module>