<dom-module id="nice-dl-nav">
  <template>
    <link rel="stylesheet" href="./nice-dl-nav.scss">

    <h1 class="title">Digital Library</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/dl" class="nav-anchor">
            All Research
          </a>
        </li>

        <li class="nav-item">
          <a href="/dl-state-universities" class="nav-anchor">
            Research from State Universitites
          </a>
        </li>

        <li class="nav-item">
          <a href="/dl-other-partners" class="nav-anchor">
            Research from Other Partners
          </a>
        </li>
      </ul>
    </nav>
    
    <h2 class="title">Filters</h2>
    <p class="filters">
      <paper-input value="{{year}}" label="Year Published" class="year"></paper-input>
          
      <paper-dropdown-menu label="Research Institution">
        <paper-listbox slot="dropdown-content" selected="{{researchInstitution}}" attr-for-selected="key">
          <template is="dom-repeat" items="[[categoryResearchInstitution]]">
            <paper-item key$="[[item.$key]]">[[item.name]]</paper-item>  
          </template>
        </paper-listbox>
      </paper-dropdown-menu><br/>
      
      <paper-button on-tap="resetSearch" class="search-button">Reset Filters</paper-button>
    </p>
  </template>
</dom-module>