@import '../../styles/components/_typography.scss';

:host {
  padding: 20px;
}

.filters {
  padding-left: 40px;
}

.year {
  padding-right: 20px;
}

.nav-list {
  list-style-type: none;
}

.nav-anchor {
  text-decoration: none;
  color: inherit;
}

.nav-item {
  margin-bottom: 10px;
}

.search-button {
  color: white;
  background-color: #4286f4;
}