<dom-module id="nice-dl-nav">
  <template>
    <link rel="stylesheet" href="./nice-dl-nav.scss">

    <h1 class="title">Digital Library</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/dl" class="nav-anchor">
            All Research
          </a>
        </li>

        <li class="nav-item">
          <a href="/dl-state-universities" class="nav-anchor">
            Research from State Universitites
          </a>
        </li>

        <li class="nav-item">
          <a href="/dl-other-partners" class="nav-anchor">
            Research from Other Partners
          </a>
        </li>
      </ul>
    </nav>
  </template>
</dom-module>