@import '../../styles/mixins/_flex.scss';
@import '../../styles/components/_typography';

:host {
  @include layout-horizontal;
  @include layout-wrap;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.image {
  display: block;
  @include layout-flex;
  min-width: 250px;
  max-width: 600px;
  height: 200px;
}

.text-area {
  @include layout-flex;
  min-width: 250px;
  padding: 10px;
  padding-left: 20px;
}

.title {
  font-size: 16px;
}

.title-anchor {
  text-decoration: none;
  color: inherit;
}

.meta {
  font-size: 12px;
}

.summary {
  font-size: 12px;
}