<dom-module id="nice-user-item">
  <template>
    <link rel="stylesheet" href="./nice-user-item.scss">

    <template is="dom-if" if="[[member.image]]">
      <a href="/community/[[memberId]]" style="background: url([[member.image]]) center/cover no-repeat" class="image"></a>
    </template>

    <section class="text-area">
      <h1 class="title">
        <a href="/community/[[memberId]]" class="title-anchor">[[member.displayName]]</a>
      </h1>

      <div class="row">
        <template is="dom-if" if="[[_checkRole(user, permission.role, 'editor')]]">
          <paper-dropdown-menu label="Role">
            <paper-listbox slot="dropdown-content">
              <template is="dom-if" if="[[_checkRole(user, permission.role, 'admin')]]">
                <paper-item>Admin</paper-item>
                <paper-item>Editor</paper-item>
              </template>
              <paper-item>Staff</paper-item>
              <paper-item>Member</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </template>

        <div class="flex button-list">
          <template is="dom-if" if="[[_checkRole(user, permission.role, 'admin')]]">
            <!-- <paper-button class="button" raised>Remove membership</paper-button> -->
          </template>

          <a href="/community/[[memberId]]" class="title-anchor">
            <paper-button class="button" raised>View Profile</paper-button>
          </a>

          <template is="dom-if" if="[[!isEqual(user.uid, memberId)]]">
            <paper-button class="button" raised on-tap="sendMessage">Send Message</paper-button>
          </template>
        </div>

      </div>
    </section>
  </template>
</dom-module>