<dom-module id="nice-nav">
  <template>
    <link rel="stylesheet" href="./nice-nav.scss">

    <template is="dom-if" if="[[!drawer]]">
      <nav class="">
        <ul class="nav-bar">
          <li class="nav-item">
            <a href="/" class="link">
              <paper-ripple></paper-ripple>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="/about" class="link">
              <paper-ripple></paper-ripple>
              About
            </a>
          </li>

          <template is="dom-repeat" items="[[navList]]" as="navItem">
            <template is="dom-if" if="[[_checkRole(user.uid, permission.role, navItem.role)]]">
              <li class="nav-item">
                <a href="[[navItem.url]]" class="link">
                  <paper-ripple></paper-ripple>
                  [[navItem.label]]
                </a>
              </li>
            </template>
          </template>

          <!--<li class="nav-item">-->
          <!--  <a href="/search" class="link">-->
          <!--    <paper-ripple></paper-ripple>-->
          <!--    Search-->
          <!--  </a>-->
          <!--</li>-->

          <template is="dom-if" if="[[!user]]">
            <li class="nav-item">
              <a href="/login" class="link">
                <paper-ripple></paper-ripple>
                Login
              </a>
            </li>
          </template>

          <template is="dom-if" if="[[user]]">
            <li class="nav-item">
              <a href="#" class="link" on-tap="logout">
                <paper-ripple></paper-ripple>
                Logout
              </a>
            </li>
          </template>


          <!-- <template is="dom-if" if="[[user]]">

          </template> -->
        </ul>
      </nav>
    </template>
  </template>
</dom-module>