@import '../../styles/components/_typography';

.banner {
  display: block;
  height: 10%;
  min-height: 250px;
  width: 100%;
}

.title {
  font-size: 20px;
}

.title-anchor {
  color: inherit;
  text-decoration: none;
}

.meta {
  font-size: 12px;
}

.summary {
  font-size: 14px;
}

:host {
  display: block;
  height: auto;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    height: auto;
  }
}