<dom-module id="nice-article-form">
  <template>
    <link rel="stylesheet" href="./nice-article-form.scss">

    <section class="form">
      <nav class="anchor-tab">
        <a class="anchor" on-tap="_edit">
          Edit
        </a>
        <a class="anchor" on-tap="_preview">
          Preview
        </a>
      </nav>

      <template is="dom-if" if="[[!preview]]">
        <h1 class="form-title">Title and Summary</h1>

        <paper-input label="Title" placeholder="Title" value="{{article.title}}"></paper-input>
        <paper-textarea char-counter max-length="350" label="Summary" placeholder="Summary" value="{{article.summary}}"></paper-textarea>

        <hr>
        <h1 class="form-title">Banner Image</h1>
        <paper-input label="Banner Image" placeholder="Banner Image" value="{{article.bannerImage}}"></paper-input>
        <paper-input label="Upload Banner Image" placeholder="Upload Banner Image" type="file" accept="image/*" on-change="_uploadBannerImage"></paper-input>
        <template is="dom-if" if="[[bannerImageProgress]]">
          <paper-progress value="[[bannerImageProgress]]" max="100" min="0" class="transiting"></paper-progress>
        </template>

        <hr>
        <h1 class="form-title">Text Body</h1>
        <paper-textarea class="body" label="Body" placeholder="Body" value="{{article.body}}"></paper-textarea>

        <hr>
        <h1 class="form-title">Category</h1>
        <div class="category-row">
          <div class="category-column">
            <h2 class="category-title">Top-Level Category</h2>

            <template is="dom-repeat" items="[[categoryMain]]">
              <paper-toggle-button data-key$="[[item.$key]]" data-level="categoryMain" checked="[[_toggleCategory('categoryMain', item.$key)]]" on-checked-changed="toggleCategory">
                [[item.name]]
              </paper-toggle-button><br/>
            </template>

            <paper-toggle-button checked="[[article.type.farmer.value]]">
              Farmer
            </paper-toggle-button>
          </div>

          <div class="category-column">
            <h2 class="category-title">Sub-Level Category</h2>

            <template is="dom-repeat" items="[[categorySub]]">
              <paper-toggle-button data-key$="[[item.$key]]" data-parent$="[[item.parent]]" data-level="categorySub" checked="[[_toggleCategory('categorySub', item.$key)]]" on-checked-changed="toggleCategory">
                [[item.name]]
              </paper-toggle-button><br/>
            </template>

          </div>
        </div>

        <template is="dom-if" if="[[_isEqual(type, 'dl')]]">
          <hr>
          <h1 class="form-title">Digital Library Category</h1>

          <paper-toggle-button checked="[[article.type.stateuniversities.value]]">
            Research is from State Universities
          </paper-toggle-button>

          <paper-toggle-button checked="[[article.type.otherpartners.value]]">
            Research is from Other Partners
          </paper-toggle-button>
        </template>

        <hr>
        <h1 class="form-title">Album</h1>
        <paper-input label="Upload Images" placeholder="Upload Images" type="file" accept="image/*" db-type="image" multiple on-change="_uploadFiles"></paper-input>

        <template is="dom-repeat" items="[[_imageTasks]]">
          <template is="dom-if" if="[[item.progress]]">
          [[item.name]]
          <paper-progress value="[[item.progress]]" max="100" min="0" class="transiting"></paper-progress>
          </template>
        </template>

        <template is="dom-repeat" items="[[articleImages]]">
          <nice-image-form image-id="[[item.$key]]" type="[[type]]" article-id="[[articleId]]"></nice-image-form>
        </template>

        <hr>
        <h1 class="form-title">Documents</h1>
        <paper-input label="Upload Documents" placeholder="Upload Documents" type="file" db-type="file" multiple on-change="_uploadFiles"></paper-input>

        <template is="dom-repeat" items="[[_fileTasks]]">
          <template is="dom-if" if="[[item.progress]]">
          [[item.name]]
          <paper-progress value="[[item.progress]]" max="100" min="0" class="transiting"></paper-progress>
          </template>
        </template>

        <template is="dom-repeat" items="[[articleFiles]]">
          <nice-file-form file-id="[[item.$key]]" type="[[type]]" article-id="[[articleId]]"></nice-file-form>
        </template>

        <hr>
        <h1 class="form-title">Publish</h1>
        <paper-toggle-button checked="[[article.published]]" on-checked-changed="_publish">
          Publish
        </paper-toggle-button>

        <hr>
        <paper-button class="button" on-tap="_save" raised>
          Save
        </paper-button>

        <a href="/[[type]]/[[articleId]]" class="anchor-button">
          <paper-button class="button" on-tap="_save" raised>
            Save and Close
          </paper-button>
        </a>

        <paper-button class="button" raised on-tap="_handleCancel">
          Cancel Edits and Close
        </paper-button>

        <paper-button class="button" raised on-tap="_handleDelete">
          Delete
        </paper-button>

      </template>
    </section>

    <template is="dom-if" if="[[preview]]" restamp>
      <nice-article article="{{article}}" article-images="{{articleImages}}"></nice-article>
    </template>

    <paper-dialog class="cancel-dialog">
      <h1 class="dialog-title">
        Do you really want to exit without saving?
      </h1>
      <aside class="dialog-buttons">
        <paper-button on-tap="_cancel" raised>
          Yes
        </paper-button>
        <paper-button on-tap="_closeCancel" raised>
          No
        </paper-button>
      </aside>
    </paper-dialog>

    <paper-dialog class="delete-dialog">
      <h1 class="dialog-title">
        Do you really want to Delete this article?
      </h1>
      <aside class="dialog-buttons">
        <paper-button on-tap="_delete" raised>
          Yes
        </paper-button>
        <paper-button on-tap="_closeDelete" raised>
          No
        </paper-button>
      </aside>
    </paper-dialog>
  </template>
</dom-module>