@import '../../styles/components/_page.scss';
@import '../../styles/components/_typography.scss';
@import '../../styles/mixins/_flex.scss';

.row {
  @include layout-horizontal;
  margin: 0 auto;
  max-width: 1400px;

  @media screen and (max-width: 1440px) {
    margin: 0 20px;
  }

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.main-list {
  @include layout-flex-9;
  max-width: 1000px;
  min-height: calc(100vh - 360px);
}

.sidebar {
  @include layout-flex-3;
}

.add {
  z-index: 200;
  bottom: 20px;
  right: 20px;
  position: fixed;
}