<dom-module id="nice-pas-nav">
  <template>
    <link rel="stylesheet" href="./nice-pas-nav.scss">

    <h1 class="title">Navigation</h1>
    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/pas" class="nav-anchor">
            Products and Services
          </a>
        </li>

        <li class="nav-item">
          <a href="/cberecommends" class="nav-anchor">
            CBE Recommends
          </a>
        </li>
      </ul>
    </nav>
  </template>
</dom-module>