<dom-module id="nice-pas-nav">
  <template>
    <link rel="stylesheet" href="./nice-pas-nav.scss">

    <h1 class="title">Center for Bayanihan Economics</h1>
    <nav>
      <ul class="nav-list">
        
        <li class="nav-item">
          <a href="/cbe" class="nav-anchor">
            About Center for Bayanihan Economics
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/pas" class="nav-anchor">
            Our Products and Services
          </a>
          
          <ul class="nav-list sub-nav-list">
            <li class="nav-item">
              <a href="/pas-crops" class="nav-anchor">
                Crops and Processed Products
              </a>
            </li>
            
            <li class="nav-item">
              <a href="/pas-technology" class="nav-anchor">
                Technologies
              </a>
            </li>
            
            <li class="nav-item">
              <a href="/pas-training" class="nav-anchor">
                Trainings
              </a>
            </li>
            
            <li class="nav-item">
              <a href="/pas-amenities" class="nav-anchor">
                Amenities
              </a>
            </li>
            
            <li class="nav-item">
              <a href="/pas-credit" class="nav-anchor">
                Credit Facilities
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="/cberecommends" class="nav-anchor">
            CBE Organic-based Farm Practices
          </a>
        </li>
        
        
      </ul>
    </nav>
  </template>
</dom-module>