<dom-module id="nice-pas-row">
  <template>
    <link rel="stylesheet" href="./nice-pas-row.scss">
    <h1 class="title">Latest from Center for Bayanihan Economics</h1>
    
    <hr>
    
    <section class="row">
      <nice-small-column query="crops" type="pas" title="Crops"></nice-small-column>
      <nice-small-column query="technology" type="pas" title="Sustainable Agricultural Technology"></nice-small-column>
      <nice-small-column query="training" type="pas" title="Training and Support Services"></nice-small-column>
    </section>
    
    <!--<hr>-->

    <section class="row">
      <nice-small-column query="amenities" type="pas" title="Amenities"></nice-small-column>
      <nice-small-column query="credit facility" type="pas" title="Credit Facility"></nice-small-column>
    </section>

  </template>
</dom-module>