<dom-module id="nice-community-nav">
  <template>
    <link rel="stylesheet" href="./nice-community-nav.scss">

    <h1 class="title">Community</h1>
    <nav>
      <ul class="nav-list">

        <template is="dom-if" if="[[_checkRole(user, permission.role, 'member')]]">
          <li class="nav-item">
            <a href="/community" class="nav-anchor">
              Community Directory
            </a>
          </li>

          <li class="nav-item">
            <a href="/thread" class="nav-anchor">
              Inbox
            </a>
          </li>
        </template>

        <li class="nav-item">
          <a href="/community/[[user.uid]]" class="nav-anchor">
            Profile
          </a>
        </li>
      </ul>
    </nav>
  </template>
</dom-module>