.header {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 5px;
  font-size: 16px;
}

:host {
  display: block;
  @media screen and (max-width: 900px) {
    padding: 20px 20px 0;
  }
}

nice-item {
  height: 370px;

  @media screen and (max-width: 900px) {
    height: auto;
  }
}
