<dom-module id="nice-small-column">
  <template>
    <link rel="stylesheet" href="./nice-small-column.scss">

    <template is="dom-if" if="[[list.length]]">
      <template is="dom-if" if="[[title]]">
        <header class="header">
          <template is="dom-if" if="[[isEqual(type, 'story')]]">
            <h1 class="title"><a href="/story-category/[[query]]" class="anchor-title">[[title]]</a></h1>
          </template>
          <template is="dom-if" if="[[!isEqual(type, 'story')]]">
            <h1 class="title">[[title]]</h1>
          </template>
          
        </header>
      </template>
      <template is="dom-repeat" items="[[list]]">
        <template is="dom-if" if="[[!index]]">
          <nice-headline article-id="[[item.$key]]" type="[[type]]"></nice-headline>
        </template>

        <template is="dom-if" if="[[index]]">
          <nice-small-item article-id="[[item.$key]]" type="[[type]]"></nice-small-item>
        </template>
      </template>
    </template>

  </template>
</dom-module>