@import '../../styles/components/_typography';

.header {
  border-bottom: 1px solid #666;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 5px;
  font-size: 18px;
}

.anchor-title {
  color: inherit;
  text-decoration: none;
}

:host {
  display: block;
  @media screen and (max-width: 900px) {
    padding: 20px 20px 0;
  }
}

nice-item {
  height: 370px;

  @media screen and (max-width: 900px) {
    height: auto;
  }
}
