<dom-module id="nice-user-form">
    <template>
      <link rel="stylesheet" href="./nice-user-form.scss">

      <section class="section">
        <h1 class="title">Personal Information</h1>
        <paper-input label="First Name" value="{{member.firstName}}"></paper-input>
        <paper-input label="Last Name" value="{{member.lastName}}"></paper-input>
        <paper-input label="Phone Number" value="{{member.contact}}"></paper-input>


        <div class="row center">
          <img class="avatar" src="{{member.image}}">
          <div class="flex avatar-container">
            <paper-input label="Profile Image" value="{{member.image}}"></paper-input>
            <paper-input label="Upload Profile Image" placeholder="Upload Profile Image" type="file" accept="image/*" on-change="_uploadProfileImage"></paper-input>
            <template is="dom-if" if="[[memberImageProgress]]">
              <paper-progress value="[[memberImageProgress]]" max="100" min="0" class="transiting"></paper-progress>
            </template>
          </div>
        </div>

        <paper-textarea label="Address" value="{{member.address}}"></paper-textarea>

        <h1 class="title">Work Information</h1>
        <paper-dropdown-menu label="Work Category">
          <paper-listbox slot="dropdown-content" selected="{{member.userType}}" attr-for-selected="key">
            <template is="dom-repeat" items="[[categoryUser]]">
              <paper-item key$="[[item.$key]]">[[item.name]]</paper-item>  
            </template>
          </paper-listbox>
        </paper-dropdown-menu><br/>
        <paper-input label="Work" value="{{member.position}}"></paper-input>
        <paper-textarea label="Work Description" value="{{member.work}}"></paper-textarea>

        <hr>
        <div class="row">

          <paper-button class="button" on-tap="_save" raised>
            Save
          </paper-button>

          <a href="/community/[[memberId]]" class="anchor-button">
            <paper-button class="button" on-tap="_save" raised>
              Save and Close
            </paper-button>
          </a>

          <paper-button class="button" raised on-tap="_handleCancel">
            Cancel Edits and Close
          </paper-button>
        </div>
      </section>

      <paper-dialog class="cancel-dialog">
        <h1 class="dialog-title">
          Do you really want to exit without saving?
        </h1>
        <aside class="dialog-buttons">
          <paper-button on-tap="_cancel" raised>
            Yes
          </paper-button>
          <paper-button on-tap="_closeCancel" raised>
            No
          </paper-button>
        </aside>
      </paper-dialog>

      <nice-user-tos></nice-user-tos>

    </template>
  </dom-module>