@import '../../styles/components/typography';

.container {
  margin: 100px auto 100px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
  display: block;
}

.logo {
  width: 80%;
  margin-bottom: 20px;
}