<dom-module id="nice-story-nav">
  <template>
    <link rel="stylesheet" href="./nice-story-nav.scss">

    <h1 class="title">Stories</h1>
    <nav>
      <ul class="nav-list">
        <template is="dom-repeat" items="[[categoryMain]]">
          <li class="nav-item">
            <a href="/story?category=[[item.$key]]" class="nav-anchor">
              [[item.name]]
            </a>
            
            <ul class="nav-list">
              <template is="dom-repeat" items="[[categorySub]]" as="sub">
                <template is="dom-if" if="[[isEqual(item.$key, sub.parent)]]">
                  <li class="nav-item">
                    <a href="/story?subcategory=[[sub.$key]]" class="nav-anchor">
                      [[sub.name]]
                    </a>
                  </li>
                </template>
              </template>
            </ul>
          </li>
        </template>
        
        <li class="nav-item">
          <a href="/story?type=farmer" class="nav-anchor">
            Farmer
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/story?type=socialagripreneurs" class="nav-anchor">
            Social Agripreneurs
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/story?type=agroprocessing" class="nav-anchor">
            Agro-Processing
          </a>
        </li>
        
        <li class="nav-item">
          <a href="/story?type=bayanihan" class="nav-anchor">
            Bayanihan Economics
          </a>
        </li>
      </ul>
    </nav>
  </template>
</dom-module>